.component {
    height: 361px;
    width: 413px;
    }
    .component .overlap-group {
    height: 361px;
    position: relative;
    }
    .component .rectangle {
    background-color: #8e8e8e;
    border-radius: 8px;
    height: 361px;
    left: 0;
    position: absolute;
    top: 0;
    width: 390px;
    }
    .component .div {
    background-color: #b1b1b1;
    border-radius: 8px;
    height: 119px;
    left: 17px;
    position: absolute;
    top: 121px;
    width: 386px;
    }
    .component .rectangle-2 {
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 97px;
    left: 27px;
    position: absolute;
    top: 132px;
    width: 88px;
    }
    .component .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 90px;
    width: 293px;
    }
    .component .p {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 255px;
    width: 396px;
    }
    .component .restroom {
    color: #545454;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 134px;
    width: 74px;
    }
    .component .span {
    font-weight: 700;
    }
    .component .text-wrapper-2 {
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    }
    .component .rectangle-3 {
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 97px;
    left: 127px;
    position: absolute;
    top: 132px;
    width: 88px;
    }
    .component .text-wrapper-3 {
    color: #545454;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 137px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 134px;
    width: 66px;
    }
    .component .image {
    height: 44px;
    left: 48px;
    object-fit: cover;
    position: absolute;
    top: 166px;
    width: 44px;
    }
    .component .img {
    height: 62px;
    left: 140px;
    object-fit: cover;
    position: absolute;
    top: 157px;
    width: 62px;
    }
    .component .rectangle-4 {
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 97px;
    left: 227px;
    position: absolute;
    top: 132px;
    width: 88px;
    }
    .component .text-wrapper-4 {
    color: #545454;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 237px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 134px;
    width: 66px;
    }
    .component .ellipse {
    background-color: #ffffff;
    border-radius:8px;
    height: 65px;
    left: 238px;
    position: absolute;
    top: 157px;
    width: 65px;
    }

    .component .image-2 {
    height: 49px;
    left: 253px;
    object-fit: cover;
    position: absolute;
    top: 164px;
    width: 34px;
    }
    .component .rectangle-5 {
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 97px;
    left: 325px;
    position: absolute;
    top: 132px;
    width: 88px;
    }
    .component .text-wrapper-5 {
    color: #545454;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 335px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 134px;
    width: 66px;
    }
    .component .ellipse-2 {
    background-color: #ffffff;
    border-radius: 8px;
    height: 65px;
    left: 336px;
    position: absolute;
    top: 157px;
    width: 65px;
    }
    .component .image-3 {
    height: 45px;
    left: 347px;
    object-fit: cover;
    position: absolute;
    top: 167px;
    width: 43px;
    }
    .component .rectangle-6 {
    background-color: #b1b1b1;
    border-radius: 8px;
    height: 70px;
    left: 15px;
    position: absolute;
    top: 284px;
    width: 386px;
    }