@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-toastify/dist/ReactToastify.min.css';

@layer base {
  :root {
    --color-gray: #6b7280;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --floor-switcher-height: 52px;
  --main-ui-padding: 12px;
  --search-box-height: 45px;
  --search-icon-width: 40px;
  --search-transition-duration: 0.3s;
  --toolbar-gap: 0px;
  --search-width-desktop: 400px;

  --collection-1-accent: rgba(105, 172, 251, 1);
  --collection-1-background: rgba(142, 142, 142, 1);
  --collection-1-highlight: rgba(224, 224, 224, 1);
  --collection-1-padding: rgba(177, 177, 177, 1);
  --collection-1-primary: rgba(18, 88, 170, 1);
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.875rem;
}
